#calculator {
    overflow: hidden;
    height: 600px;
    width: 500px;
    position: relative;
    display: block;
    margin: 0 auto;
}

#gray {
    position: relative;
    height: 30%;
    background-color: rgb(56, 56, 56);
    display: block;
    margin-top: 20px;
}

#silver {
    height: 90%;
    width: 100%;
    background-color: silver;
    padding-top: 15%;
}

#black {
    position: relative;
    height: 87%;
    background-color: black;
    border-radius: 10px 10px 50px 50px / 10px 10px 25px 25px;
    padding: 60px 16px 16px 16px;
    display: block;
    color: white;
}

.monitor{
    height: 92%;
    background-color: rgb(201, 201, 201);
    border-radius: 10px 10px 70px 70px / 10px 10px 25px 25px;
}

.input{
    width: 90%;
    height: 70%;
    margin-left: 23px;
    margin-top: 15px;
    border-radius: 5px 5px 5px 5px;
    font-size: 100px;
    /* direction: rtl; */
}

.input-range{
    width: 30px;
    margin-left: 35px;
    margin-bottom: 20px;

}

.input-range1{
    width: 50px;
    margin-left: 50px;
}

.b00-0{
    margin-left: 140px;
    margin-bottom: 20px;
}

.sefrkardan{
    width: 70px;
    height: 50px;
    background-color: rgb(0, 136, 79);
    color:white;
    margin-left: 10px;  
    border-radius: 5px;
}

.andaze-dokmeha {
    width: 70px;
    height: 50px;
    border-radius: 5px;
    background-color: black;
    color: white;
    /* font-size: 10px; */
}

.mrc{
    margin-left: 21px;
}

.check{
    margin-right: 9px;
    color: rgb(136, 136, 49) ;
}

.gt{
    margin-left: 20px;
}

.autoreplay{
    margin-bottom: 5px;
    color: rgb(136, 136, 49);
}

.b9{
    margin-bottom: 5px;
}

.mark-up{
    margin-left: 20px;
}

.moma{
    margin-left: 20px;
}

.bb{
    width: 70px;
    height: 100px;
    background-color: black;
    color: white;
}

.jam{
    height: 100px;

}

.mc{
    margin-left: 20px;
}

.mosavi{
    margin-left: 75px;
}